<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="/static/main.css">
        <title>{% block title %}{% endblock %}</title>

    </head>
    <body>
        <div class="full-page" style="text-align: center; max-width: 640px; margin:0 auto;">
            <div class="header">
                <div class="navigation" style="width: auto;">
                    <ul class="navbar-1" style="list-style-type: none;">
                        <li>
                            <a href="/" class="nav-link">Home</a>
                        </li>
                        <li>
                            <a href="/about" class="nav-link">About</a>
                        </li>
                        <li>
                            <a href={{ url_for('resume') }} class="nav-link">Resume</a>
                        </li>
                    </ul>
                </div>

                <div class="header-title">
                    {% block header %} {% endblock %}
                </div>
            </div>
            <div id="body">
                <div class="header-content">
                    <div class="content-title">

                    </div>
                    <div class="content-body">
                        {% block content %}
                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>
        <div class="footer" style="text-align: center; max-width: 640px; margin: auto;">
            <div class="footer-body">
                <!-- <h3>Links</h3> -->
                <div class="footer-end">
                    <ul class="navbar-2" style="list-style-type: none;">
                        <li>
                            <a href="https://www.linkedin.com/in/prashambhuta/" class="nav-link">LinkedIn</a>
                        </li>
                        <li>
                            <a href="https://github.com/Prashambhuta" class="nav-link">GitHub</a>
                        </li>
                        <li>
                            <a href="mailto:prasham.bhuta@gmail.com" target="_blank" class="nav-link">Email</a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
        {% block body %}
        {% endblock %}

        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    </body>
</html>